@import url("//hello.myfonts.net/count/389947");
@font-face {
  font-family: 'BwSeidoRound-Thin';
  src: url('webfonts/389947_0_0.eot');
  src: url('webfonts/389947_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_0_0.woff2') format('woff2'), url('webfonts/389947_0_0.woff') format('woff'), url('webfonts/389947_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-BlackItalic';
  src: url('webfonts/389947_1_0.eot');
  src: url('webfonts/389947_1_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_1_0.woff2') format('woff2'), url('webfonts/389947_1_0.woff') format('woff'), url('webfonts/389947_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-Light';
  src: url('webfonts/389947_2_0.eot');
  src: url('webfonts/389947_2_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_2_0.woff2') format('woff2'), url('webfonts/389947_2_0.woff') format('woff'), url('webfonts/389947_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-Bold';
  src: url('webfonts/389947_3_0.eot');
  src: url('webfonts/389947_3_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_3_0.woff2') format('woff2'), url('webfonts/389947_3_0.woff') format('woff'), url('webfonts/389947_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-LightItalic';
  src: url('webfonts/389947_4_0.eot');
  src: url('webfonts/389947_4_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_4_0.woff2') format('woff2'), url('webfonts/389947_4_0.woff') format('woff'), url('webfonts/389947_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-Black';
  src: url('webfonts/389947_5_0.eot');
  src: url('webfonts/389947_5_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_5_0.woff2') format('woff2'), url('webfonts/389947_5_0.woff') format('woff'), url('webfonts/389947_5_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-Medium';
  src: url('webfonts/389947_6_0.eot');
  src: url('webfonts/389947_6_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_6_0.woff2') format('woff2'), url('webfonts/389947_6_0.woff') format('woff'), url('webfonts/389947_6_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-Regular';
  src: url('webfonts/389947_7_0.eot');
  src: url('webfonts/389947_7_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_7_0.woff2') format('woff2'), url('webfonts/389947_7_0.woff') format('woff'), url('webfonts/389947_7_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-ThinItalic';
  src: url('webfonts/389947_8_0.eot');
  src: url('webfonts/389947_8_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_8_0.woff2') format('woff2'), url('webfonts/389947_8_0.woff') format('woff'), url('webfonts/389947_8_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-BoldItalic';
  src: url('webfonts/389947_9_0.eot');
  src: url('webfonts/389947_9_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_9_0.woff2') format('woff2'), url('webfonts/389947_9_0.woff') format('woff'), url('webfonts/389947_9_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-RegularItalic';
  src: url('webfonts/389947_A_0.eot');
  src: url('webfonts/389947_A_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_A_0.woff2') format('woff2'), url('webfonts/389947_A_0.woff') format('woff'), url('webfonts/389947_A_0.ttf') format('truetype');
}

@font-face {
  font-family: 'BwSeidoRound-MediumItalic';
  src: url('webfonts/389947_B_0.eot');
  src: url('webfonts/389947_B_0.eot?#iefix') format('embedded-opentype'), url('webfonts/389947_B_0.woff2') format('woff2'), url('webfonts/389947_B_0.woff') format('woff'), url('webfonts/389947_B_0.ttf') format('truetype');
}